<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -<< Geek_ads >></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse">
                <img src="~/IMG/logo.png" class="logo" />
                @*<a href=@Url.Action("ChangeEN","Home")><img src="~/IMG/BritishFlag.png" height="30: style="margin-top:15px"/></a>
                <a href=@Url.Action("ChangePL", "Home")><img src="~/IMG/polishFlag.jpg" height="30" style="margin-top:15px"/></a>
                <a href=@Url.Action("ChangeRU", "Home")><img src="~/IMG/russiaFlag.jpg" height="30" style="margin-top:15px" /></a>*@
                <a href='@Url.Action("Change", "Home", new {newLanguage = "pl"})'>
                    <img src="~/IMG/polishFlag.jpg"  style="height:30px;margin-top:15px"/>
                </a>
                <a href='@Url.Action("Change", "Home", new {newLanguage = "en"})'>
                    <img src="~/IMG/BritishFlag.png"  style="height:30px;margin-top:15px"/>
                </a>
                <a href='@Url.Action("Change", "Home", new {newLanguage = "ru"})'>
                    <img src="~/IMG/russiaFlag.jpg" style="height:30px;margin-top:15px"/>
                </a>
                @Html.Partial("_LoginPartial")
            </div>
            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-3">
                    <p>
                        <img src="~/IMG/pb_logo.jpg" style="align-content: flex-start" height="100"/>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>&copy; @DateTime.Now.Year - Projekt zrealizowany na zaliczenie przedmiotu Programowanie Aplikacji Webowych w ASP MVC przez Marcin Kozikowski i Marcin Januszewski 2016r.</p>
                </div>
                <div class="col-md-3">
                    <img src="~/IMG/mvc_logo.png" style="align-content: flex-end" height="100"/>
                </div>
            </div>
                
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
